.header {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (width >= 580px) {
      flex-direction: row;
    }
  }

  .logo,
  .nav-link {
    padding-block: 1.25rem;
  }

  .logo-and-stuff {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: 100%;

    @media (width >= 580px) {
      width: auto;
    }
  }

  .route-list {
    display: flex;
    gap: 1rem;
  }

  .nav-link {
    display: block;
    white-space: nowrap;

    &:not(.active):hover {
      text-decoration: underline;
    }

    &.active {
      color: var(--primary);
    }
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .back-button {
    display: none;

    @media (width >= 700px) {
      display: inline-flex;
    }
  }
}
