.input {
  width: 100%;
  block-size: 2.625rem;
  min-width: 0;
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  line-height: 1;

  &::placeholder {
    color: var(--foreground-muted);
  }
}
